form{
    font-size:  20px;
    }

    #a1{
       margin-right: 73px;
    }
    
    #a2{
       margin-right: 69px;
    }
    #a3{
       margin-right: 84px;
    }
    #a4{
       margin-right: 69px;
    }

    #a5{
       margin-right: 62px;
    }
    #a6{
       margin-right: 5px;
    }
    
    #boton{
        margin-top: 15px;
    }